.header{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7580398162327718) 0%, rgba(0,0,0,0.3108728943338438) 100%),url(../../../public/image/header/header-bg.jpg);
    background-size:cover;   
}
.header--img__1{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 100%),url(../../../public/image/header/featured-guitarman.jpg.webp);
    background-size:cover;   
    background-position:center;
}
.header--img__2{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%),url(../../../public/image/header/featured-watch.jpg.webp);
    background-size:cover;   
    background-position:center;

}
.header--img__3{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%),url(../../../public/image/header/featured-beetle.jpg.webp);
    background-size:cover;   
    background-position:center;
}